<p-card header="SLA Policies">
  <p-table [value]="policies">
    <ng-template pTemplate="header">
      <tr>
        <th>Category</th>
        <th>Priority</th>
        <th>Response Time</th>
        <th>Resolution Time</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-policy>
      <tr>
        <td>{{ policy.category }}</td>
        <td>{{ policy.priority }}</td>
        <td>{{ policy.responseHours }} hours</td>
        <td>{{ policy.resolutionHours }} hours</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>